@model List<PMS.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_myLayoutPage1.cshtml";
    //List<PMS.Models.User> users = ViewBag.users;
    //List<PMS.Models.User> vUsers = (List<PMS.Models.User>)ViewData["users"];

    var user1 = (PMS.Models.User)Session["User"];
    var permissions = user1.Role.UserPermissions;

}

<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Record Of Users
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>DOB</th>
                        <th>Gender</th>
                        <th>User Name</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>

                </tfoot>
                <tbody>

                    @*@for (int index = 0; index < Model.Count; index++)
                        {
                            var user = Model[index];
                            <tr>
                                <td>@(user.FirstName + " " + user.LastName)</td>
                                <td>@user.Email</td>
                                <td>@Convert.ToDateTime(user.DOB).ToShortDateString()</td>
                                <td>@(user.Gender == 1 ? "Male" : "FeMale")</td>
                                <td>@user.Role.Title</td>
                            </tr>
                        }*@

                    @foreach (var user in Model)    //if we are using view bag methodology then we need to give view bag parametre here its users, if we are using view data methodology then we need to give  vusers parameter, in this loop  insted of Model in both cases
                    {
                        <tr>
                            <td>@(user.FirstName + " " + user.LastName)</td>
                            <td>@user.Email</td>
                            <td>@Convert.ToDateTime(user.DOB).ToShortDateString()</td>
                            <td>@(user.Gender == 1 ? "Male" : "FeMale")</td>
                            <td>@(user.UserName)</td>
                            <td>
                                @(user.Role_Id != null ? user.Role.Title : "")
                                @*@{
                                    try
                                    {
                                             @user.Role.Title;
                                    }
                                        catch (Exception ex)
                                        {*@
                            </td>
                            <td>
                                @if (permissions.Any(p => p.Module != null && p.Module.ModuleName == "Users" && p.CanDelete))
                                {
                                    <a href="~/User/Delete/@user.Id">Delete</a> <span>|</span>
                                }
                                @if (permissions.Any(p => p.Module != null && p.Module.ModuleName == "Users" && p.CanWrite))
                                {
                                    <a href="~/User/Edit/@user.Id">Edit</a> <span>|</span>
                                }
                                <a href="~/User/ViewDetails/@user.Id">View</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

