@model PMS.Models.Patient

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_myLayoutPage1.cshtml";
}


<form method="post" action="@Url.Action("../Patient/Save")">
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">Patient Basic Information</div>


            <input type="hidden" name="Id" value="@(Model != null ? Model.User.Id : 0)" />
            <input type="hidden" name="Patients[0].Id" value="@(Model != null ? Model.Id : 0)" />
            <input type="hidden" name="Patients[0].UserId" value="@(Model != null ? Model.UserId : 0)" />
            <input type="hidden" name="Role_Id" value="4" />



            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <input type="text" id="inputfirstName" name="FirstName" value="@(Model != null ? Model.User.FirstName : "")" class="form-control" placeholder="First name" required="required" autofocus="autofocus">
                            <label for="inputfirstName">First name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <input type="text" id="inputlastName" name="LastName" value="@(Model != null ? Model.User.LastName : "")" class="form-control" placeholder="Last name" required="required">
                            <label for="inputlastName">Last name</label>
                        </div>
                    </div>
                </div>
            </div>   <!–– fname,lname-->

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <input type="text" id="inputmiddleName" name="MiddleName" value="@(Model != null ? Model.User.MiddleName : "")" class="form-control" placeholder="Middle name" required="required" autofocus="autofocus">
                            <label for="inputmiddleName">Middle name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <input type="text" id="inputDOB" name="DOB" value="@(Model != null ? Convert.ToDateTime(Model.User.DOB).ToShortDateString() : "")" class="form-control" placeholder="DOB" required="required">
                            <label for="inputDOB">DOB</label>

                        </div>
                    </div>
                </div>
            </div>   <!–– middle name,dob-->

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <input type="text" id="inputuserName" name="UserName" value="@(Model != null ? Model.User.UserName : "")" class="form-control" placeholder="Username" required="required">
                            <label for="inputuserName">User Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-label-group">

                        </div>
                    </div>
                </div>
            </div>   <!–– user name,role-->

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <input type="password" id="inputPassword" name="Password" class="form-control" value="@(Model != null ? Model.User.Password : "")" placeholder="Password" required="required">
                            <label for="inputPassword">Password</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm password" value="@(Model != null ? Model.User.Password : "")" required="required">
                            <label for="confirmPassword">Confirm password</label>
                        </div>
                    </div>
                </div>
            </div>    <!–– passord,confirm-->

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <input type="tel" id="inputphone" name="Phone" class="form-control" placeholder="phone" value="@(Model != null ? Model.User.Phone : "")" required="required" autofocus="autofocus">
                            <label for="inputphone">Phone</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <select id="inputGender" name="Gender" style="width:100%;">
                                <option value="0">--Select Gender--</option>
                                <option value="1" @(Model != null && Model.User.Gender == 1 ? "selected" : "")>Male</option>
                                <option value="2" @(Model != null && Model.User.Gender == 2 ? "selected" : "")>FeMale</option>
                            </select>
                        </div>
                        @*@Html.DropDownList("Gender", new List<SelectListItem>{
                            new SelectListItem{ Text="Male", Value="1"},
                            new SelectListItem{ Text="Female", Value="2"}
                            }, "--- Select ---"
                            )*@
                    </div>
                </div>
            </div>    <!––phone,gender-->

            <div class="form-group">
                <div class="form-label-group">
                    <input type="email" id="inputEmail" name="Email" class="form-control" value="@(Model != null ? Model.User.Email : "")" placeholder="Email address" required="required">
                    <label for="inputEmail">Email address</label>
                </div>
            </div>     <!–– email-->

            <div class="form-group">
                <div class="form-label-group">
                    <input type="text" id="inputaddress" name="Address" class="form-control" value="@(Model != null ? Model.User.Address : "")" placeholder="address" required="required">
                    <label for="inputaddress">Address</label>
                </div>
            </div>  <!–– address-->





            <div class="card-header">Patient Details</div>


            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <input type="text" id="BloodGroup" name="Patients[0].BloodGroup" value="@(Model != null ? Model.BloodGroup : "")" class="form-control" placeholder="BloodGroup" required="required">
                            <label for="BloodGroup">Blood Group </label>
                        </div>



                    </div>
                    <div class="col-md-6">


                        <div class="form-label-group">
                            <input type="checkbox" id="inputDisability" name="Patients[0].Disability" @(Model != null && Model.Disability == true ? "checked" : "") value="@(Model != null ? Model.Disability : null)" onclick="setValue(this);" required="required">
                            @*@Html.CheckBox("Patients[0].Disability", new { @id = "inputDisability" })*@
                            <label for="inputDisability">Disability</label>
                        </div>
                    </div>
                </div>
            </div>
            <!--user Id, blood group-->

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <input type="text" id="inputheight" name="Patients[0].Height" value="@(Model != null ? Model.Height : "")" class="form-control" placeholder="Height" required="required" autofocus="autofocus">
                            <label for="inputheight">Height</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <input type="text" id="inputWeight" name="Patients[0].Weight" value="@(Model != null ? Model.Weight : "")" class="form-control" placeholder="Weight" required="required">
                            <label for="inputWeight">Weight</label>
                        </div>
                    </div>
                </div>
            </div>     <!--height, weight-->

            <div class="form-group">

            </div>  <!-- Disability-->

            <div class="form-group">
                <div class="form-label-group">
                    <input type="text" id="inputDisabilityDetails" name="Patients[0].DisabilityDetails" value="@(Model != null ? Model.DisabilityDetails : "")" class="form-control" placeholder="DisabilityDetails" required="required">
                    <label for="inputDisabilityDetails">Disability Details</label>
                </div>
            </div>  <!-- Disability Details-->

            <div class="form-group">
                <div class="form-label-group">
                    <input type="text" id="inputFamilyHistory" name="Patients[0].FamilyHistory" class="form-control" value="@(Model != null ? Model.FamilyHistory : "")" placeholder="FamilyHistory" required="required">
                    <label for="inputFamilyHistory">Family History</label>
                </div>
            </div>   <!--Family History-->





            <button type="submit" class="btn btn-primary btn-block">Register Patient</button>


        </div>

    </div>

</form>

    <script type="text/javascript">
        function setValue(obj) {
            obj.value = obj.checked;
            if (obj.value == "true") {
                document.getElementById("inputDisabilityDetails").hidden = false;
            }
            else {
                document.getElementById("inputDisabilityDetails").hidden = true;
            }

            function defaultHidden() {
                alert('I am in');
                document.getElementById("inputDisabilityDetails").hidden = true;
            }

        }
    </script>



