@model List<PMS.Models.Patient>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_myLayoutPage1.cshtml";
    //List<PMS.Models.User> users = ViewBag.users;
    //List<PMS.Models.User> vUsers = (List<PMS.Models.User>)ViewData["users"];
}

<!-- DataTables Example -->
<div class="card mb-3"> 
    <div class="card-header">
        <i class="fas fa-table"></i>
        Record Of Patients
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Patient Name</th>
                        <th>Family History</th>
                        <th>Disability</th>
                        <th>Disability Details</th>
                        <th>Blood Group</th>
                        <th>Height</th>
                        <th>Weight</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>

                </tfoot>
                <tbody>

                    @*@for (int index = 0; index < Model.Count; index++)
                        {
                            var user = Model[index];
                            <tr>
                                <td>@(user.FirstName + " " + user.LastName)</td>
                                <td>@user.Email</td>
                                <td>@Convert.ToDateTime(user.DOB).ToShortDateString()</td>
                                <td>@(user.Gender == 1 ? "Male" : "FeMale")</td>
                                <td>@user.Role.Title</td>
                            </tr>
                        }*@

                    @foreach (var patient in Model)    //if we are using view bag methodology then we need to give view bag parametre here its users, if we are using view data methodology then we need to give  vusers parameter, in this loop  insted of Model in both cases
                    {
                        <tr>
                            <td>@(patient.User.FirstName + " " + patient.User.LastName)</td>
                            <td>@patient.FamilyHistory</td>
                            <td>@patient.Disability</td>
                            <td>@patient.DisabilityDetails</td>
                            <td>
                                @patient.BloodGroup
                            </td>
                            <td>
                                @patient.Height
                            </td>
                            <td>
                                @patient.Weight
                            </td>
                            <td><a href="~/Patient/Delete/@patient.Id">Delete</a> | <a href="~/Patient/Edit/@patient.Id">Edit</a> | <a href="~/Patient/ViewDetails/@patient.Id">View</a></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

